version: '3'
services:
  jobs_db:
    image: mysql:5.7
    volumes:
      - "./.mysql-data/db:/var/lib/mysql"
    restart: always
    ports:
      - 3330:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: jobs
      MYSQL_USER: jobsadmin
      MYSQL_PASSWORD: jobsadmin
